body, html{
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

/* PARALLAX AREA */
.parallax{
  height: 100%;
  width: 100%;
  background-image: url('../img/parallax.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.title{
  font-family: 'Righteous', cursive;
  position: absolute;
  text-align: center;
  width: 100%;
  top : 20%;
  color: white;
  font-size: 25px;
}

.fadeIn{
  opacity: 1;
}
.name{
  padding-top: 200px;
}
.subtitle{
  margin-top: -20px;
  color: white;
  font-size: 20px;
}

.profileImage{
  width: 200px;
  border-radius: 100%;
  position: fixed;
  margin : auto;
  left: 0;
  right: 0;
  z-index: 3;

}

 /* NAV BUTTONS */
.navContainer{
    position: absolute;
    top: 80%;
    width: 100%;
    grid-template-columns: 100%;

    grid-auto-flow: column;
    display: grid;

 }
.nav{
  margin: 0 auto;

}

.button{
  font-family: 'Russon One', monospace;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  display: inline;
  transform : translate(-50% ,-50%);
  margin: 7px;

}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:12px 32px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background-color: rgba(0, 191, 255, 0.8);
  color: white;
}
.btn-white:hover{
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 191, 255, 1);
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2)
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}



@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}
/* Content here */
.container{
  background: rgba(255,255,254);
}

.container-about{
  margin-top: 100px;
  opacity: 0;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;

  grid-template-columns: 30% auto;
  display: grid;
}
.socialLinks ul li{
  list-style-type: none;
  display: inline;
}

.socialLinks ul{
    padding-left: 0px;
    margin-top: 20px;
    text-align: center;
}
.socialLinks ul li a{
  color: black;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 10%;
}
.socialLinks ul li a i{
  width: 22px;
  height: 20px;
}
.Blog,.Twitch,.Twitter,.Envelope{

}
.Blog:hover{
  background: #f57d00;
  color: white;
  transition: 0.3s;
}
.Twitch:hover{
  background: #6441a5;
  color: white;
  transition: 0.3s;
}
.Twitter:hover{
  background: #1DA1F2;
  color: white;
  transition: 0.3s;
}
.Envelope:hover{
  background: #D44638;
  color: white;
  transition: 0.3s;
}

.container-about-about{
  border-left: 1px solid #dbdbdb;
  padding-left: 30px;
  padding-right: 40px;
  font-family: 'Roboto mono', cursive;

}




.container-name{
  font-family: 'Righteous', cursive;
    font-size: 25px;
    text-align: center;
    width: 200px;
    color: #00bfff;
    border-bottom: 1px dashed black;
}
.container-fix{
  display: block;
  position: relative;
  float: right;
}
.container-about-image{
  display: inline-block;
  float: right;
  padding-right: 30px;
}
.container-about-image img{
  height: 200px;
  width: 200px;
}


.hobbies{
  height: 400px;
  background: #f8f9fa;
  margin-top: 100px;
  opacity: 0;

}
.hobbies-grid{
  display: flex;
  width: 60%;
  padding: 5px;
  margin: 0 auto;

}
.Hobbies{
  text-align: center;
  padding: 50px;
  font-family: 'Righteous', cursive;
  color: #00bfff;

}
.Gaming,.Streaming,.Biking,.Comunity{
  font-family: 'Roboto mono', cursive;
  padding: 20px;
  text-align: center;
  font-size: 15px;
}
.hobbies-grid i{
  font-size: 45px;
  line-height: 0px;
}
.hobbies-grid .fa-gamepad{
  color: #c72739;
}
.hobbies-grid .fa-twitch{
  color: #6441a5;
}
.hobbies-grid .fa-bicycle{
  color: #80ba2a;
}
.hobbies-grid .fa-discord{
  color: 	#7289da;
}





/* Footer */

.footer{
  height: 200px;
  background-color: #262626;

  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    "col1 col2 col3";
  grid-auto-flow: column;
  padding-top: 10px;
  padding-left: 3%;
  display: grid;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color:white;
  border-left: 10px solid #00bfff;
}

.col1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.col1 ul a{
  color: white;
  text-decoration: none;
}
.col1 ul a:hover{
  color: white;
  color: #00bfff;
  text-decoration: none;
  cursor: context-menu;
}


.col2 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.col2 ul a{
  color: white;
  text-decoration: none;
}
.col2 ul a:hover{
    color: #00bfff;
    cursor: context-menu;
}

.col3 {
  font-size: 13px;
  padding-right: 15px;
}


.copyright{
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  text-align: center;
  background-color: #262626;
  border-left: 10px solid #00bfff;
  padding-bottom: 5px;
  color: grey;
}
